.text-xl {
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}

.text-lg {
    font-size: clamp(1.125rem, 0.975rem + 0.75vw, 1.875rem);
}

.text-md {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

.text-sm {
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.text-xs {
    font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
}