.btn {
    min-width: 250px;
    padding: 12px 0;
}

.btn-corp {
    background: var(--color-corp);
    color: white;
}

.bg-corp {
    background: var(--color-corp);
}

.bg-main {
    background: #F9FCFF;
}

.bg-dark-1 {
    background: #0A1A2F;
}

.icon-size-sm {
    height: 30px;
}

.icon-size-md {
    height: 40px;
}

.bg-dark-opcity {
    background: rgba(31, 45, 58, 0.73);
}

.lh-xs {
    line-height: 0.85;
}

.text-balance {
    text-wrap: balance;
}

.text-corp {
    color: var(--color-corp);
}

@media(max-width: 990px) {
    .btn {
        min-width: unset;
        padding: 5px 10px;
        font-size: 14px;
    }
}